.gpt3__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
}
.gpt3__features-container__feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}
.gpt3__features-container__feature-title h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: -0.04em;
  margin-top: 0.4rem;
}
.gpt3__features-container__feature-title div {
  position: absolute;
  width: 38px;
  height: 4px;

  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -0.45rem;
}
.gpt3__features-container_feature-text {
  flex: 2;
  max-width: 390px;
}
.gpt3__features-container_feature-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}
@media screen and (max-width: 550) {
  .gpt3__features-container__feature-title h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .gpt3__features-container__feature {
    margin: 1rem 0;
  }
}
